@model ICollection<FPTLibrary.Models.Store_Owner>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store Owner Profile</title>
</head>
<body>
   <h1 class="text-success text-center">Store Owner Profile</h1>
   <h5>Search Store Owner: </h5>
        <form id="search" method="get" asp-action="Index">
            <input type="search" placeholder="Enter the Store Owner name" value="@ViewData["GetStore_Owner"]" name="Search" style="width: 200px; padding: 5px" />
            <input type="submit" value="Search" class="btn btn-primary" />
        </form>
    <div id="storeowner-profile"> 
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Image</th>
                <th>Mobile Phone</th>
                <th>Password</th>
                <th>Actions</th>
            </tr>
            <tr>
                @foreach (var Store_Owner in Model)
               {
                    <td>@Store_Owner.Id</td>
                    <td>@Store_Owner.Name</td>
                    <td>@Store_Owner.Email</td>
                    <td>
                        <a asp-action="Detail" asp-route-id="@Store_Owner.Id">
                            <img src="@Store_Owner.Image" width="180" height="250">
                        </a>
                    </td>
                    <td>@Store_Owner.Mobile</td>
                    <td>@Store_Owner.Password</td>
                    <td>
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Store_Owner.Id">Edit</a>
                        <a class="btn btn-warning" asp-action="Delete" asp-route-id="@Store_Owner.Id" onclick="    return confirm('Are you sure you want to remove this user?');">Delete</a>
                    </td>
               }
            </tr>
        </table>
    </div>
</body>
</html>